<div class="panel no-sidebar">

    <div class="panel-content">

        <div class="header padding-10">
            <input type="text" name="" id="" class="width-100 dark search">
        </div>

        <div class="content">
            <table class="stripped selectable width-100">
                <thead>
                <tr>
                    <th class="width-30">Имя</th>
                    <th class="width-20">e-mail</th>
                    <th class="width-20">Должность</th>
                    <th class="width-30">Отдел</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users.getAll() track by $index">
                    <td class="width-30">{{ user.surname.value + " " + user.name.value + " " + user.fname.value }}</td>
                    <td class="width-20">{{ user.email.value }}</td>
                    <td class="width-20">{{ user.position.value }}</td>
                    <td class="width-30">Сектор по сбору посуды</td>
                </tr>
               <tr>
                   <td colspan="4" class="text-center padding-30" ng-show="users.getAll().length === 0">Пользователи отсутствуют</td>
               </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
