<div class="panel">
    <div class="panel-header">

    </div>

    <table class="stripped selectable width-100">
        <thead>
        <tr>
            <th class="width-30">Имя</th>
            <th class="width-20">e-mail</th>
            <th class="width-20">Должность</th>
            <th class="width-30">Отдел</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="width-30">Брахмапутров Игорь Дмитриевич</td>
            <td class="width-20">idbrahmaputrov@kolenergo.ru</td>
            <td class="width-20">Менеджер по сбору бутылок</td>
            <td class="width-30">Сектор по сбору посуды</td>
        </tr>
        <tr>
            <td class="width-30">Брахмапутров Игорь Дмитриевич</td>
            <td class="width-20">idbrahmaputrov@kolenergo.ru</td>
            <td class="width-20">Менеджер по сбору бутылок</td>
            <td class="width-30">Сектор по сбору посуды</td>
        </tr>
        <tr>
            <td class="width-30">Брахмапутров Игорь Дмитриевич</td>
            <td class="width-20">idbrahmaputrov@kolenergo.ru</td>
            <td class="width-20">Менеджер по сбору бутылок</td>
            <td class="width-30">Сектор по сбору посуды</td>
        </tr>
        <tr>
            <td class="width-30">Брахмапутров Игорь Дмитриевич</td>
            <td class="width-20">idbrahmaputrov@kolenergo.ru</td>
            <td class="width-20">Менеджер по сбору бутылок</td>
            <td class="width-30">Сектор по сбору посуды</td>
        </tr>
        <tr>
            <td class="width-30">Брахмапутров Игорь Дмитриевич</td>
            <td class="width-20">idbrahmaputrov@kolenergo.ru</td>
            <td class="width-20">Менеджер по сбору бутылок</td>
            <td class="width-30">Сектор по сбору посуды</td>
        </tr>
        </tbody>
    </table>
</div>
